nul
temp/
tmp
sys_routines/rtl8812au/
vmprov/vagrant/.vagrant/
vmprov/vagrant/*.log
vmprov/vagrant/nul
jenkins/
ansible/group_vars/ddns_hvvsrv
ansible/group_vars/all1
sys_routines/motion/rec/
sys_routines/motion/conf/
sys_routines/pptpd/data/chap-secrets
sys_routines/deluge/config/

