#Common
nul
temp/
tmp
sys_routines/rtl8812au/
vmprov/vagrant/.vagrant/
vmprov/vagrant/*.log
vmprov/vagrant/nul
jenkins/
ansible/group_vars/ddns_hvvsrv
ansible/group_vars/all1
sys_routines/motion/rec/
sys_routines/motion/conf/
sys_routines/transmission/config/
sys_routines/wireguard/config/
iac/k8s/onprem/charts/hvv-csi-driver-smb/charts/
iac/k8s/onprem/charts/hvv-istio-ingress-gateway/charts/
iac/k8s/onprem/charts/hvv-cert-manager/charts/
iac/k8s/onprem/charts/hvv-metallb/charts/

# Terraform
.terraform
*.tfstate
*.tfstate.backup
**/.terraform.lock.hcl
**/*.pem

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/

# VSCode
.vscode/

# Terragrunt
.terragrunt-cache
